*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
}
:root{
  --primary: #F4EBE2;
  --secondary: #EFBA73;
  --sloganColor: #e8c8bb;
  --recetarioColor: #F7D7AD; 
}

body{
  background-color: var(--primary);
}

.mainRegistro, .mainLogin{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  position:relative;
  width: 100%;
  margin: auto;
}

.sectionHome {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  position: relative;
}

.headerHome, .headerLogin {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.headerRegistro{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.formRegistro, .formLogin {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  position: relative;
}

.logoBonHome {
  background-image: url('../imagenes/logoHome.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: top;
  padding: 30%;
}

.logoBon {
  background-image: url('../imagenes/logoBon.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: top;
  padding: 30%;
}

.button {
  width: 250px;
  height: 40px;
  font-weight: bold;
  border-radius: 40px;
  border: 2px solid var(--secondary);
  background: var(--secondary) ;
  text-align: center;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.6);
  margin: 1em;
  cursor: pointer;
}

.input {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  font-size:large;
  text-align: center;
  margin: 0.5em;
  border: 1px solid;
}

.buttonGoogle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  border: whitesmoke;
}

.imgGoogle {
  background-image: url('../imagenes/googleLogo.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: top;
  padding: 1.5em;
  scale: 0.7;
   }

.parrafo {
  font-weight: bold;
}

#errorRegister {
  margin: 0.5em;
  color:red;
}

.divPrincipal {
  display: flex;
  width: 100%;
}

.headerPrincipal {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  position: fixed; /* se mantiene por encima de todo y fijo*/
  top: 0%; /* se mantiene arriba */
  background-color: var(--primary);
}

.logoBonPrincipal{
  background-image: url('../imagenes/logoBon.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 3%;
  padding: 13%; 
}

.sloganBon {
  width: 190px;
  background-color: var(--sloganColor);
   margin-left: 5%; 
}

.nameUser {
  align-items:center;
  margin: 10% 10%;
  font-weight: bold;
}

.mainPrincipal{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  margin-top: 39%;
  padding:0 8%;
}

.textAllPostUsers{
  margin-top: 3%;
  font-size: smaller;
  font-weight: bold;
}

.sectionAllPostUsers{
  justify-content: center;
}

.recetaUser {
  height: 3em;
  width: 99%;
  text-align:center;
  cursor: pointer;
  border-radius: 1em;
  border: 2px solid var(--sloganColor);
  font-size: smaller;
}


.menuNav{
  width: 100%;
   position: fixed; /* se mantiene por encima de todo y fijo*/
  top: 0%; /* se mantiene arriba */
}

.divMenu{
  background-color: var(--recetarioColor);
  display: flex;
  justify-content: space-around;
  margin-top: 25%;
  padding: 1%;
}


footer {
  margin-top: 3%;
  text-align: center;
}

.show-password {
  color: #000;
  margin-top: 5px;
}

.show-password input {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #000;
  transition: 0.2s all linear;
  position: relative;
  top: 5px;
  left: -5px;
}

.show-password input:checked {
  border: 8px solid var(--secondary);
}

.post{
  margin-top: 10%;
  border-radius: 1em;
  border: 2px solid var(--sloganColor);
  padding: 2% 4%;
  background-color: #f3efee;
}

.articlePostUsers{
  margin-top: 2%;
}

.author{
  font-size: smaller;
}

.titlePost, .ingredients, .preparation{
  margin-top: 4%;
  font-size: smaller;
}

.sectionRecetaTitle {
  margin:1em;
  font-weight: bold;
}

.formPost{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 0;
}
.escritosfijos{
  font-weight: bold;
  padding: 1em;
}
.recetaTitulo{
  width: 100%;
  height: 50%; 
}
.ingredientesUser {
  width: 100%;
  height: 150px;
}
.preparacionUser {
  width: 100%;
  height: 200px;
}
.btn-post{
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1em;

}

/* small tablet styles */
@media screen and (min-width: 620px){
  .logoBonHome{
    padding: 20%;
  }

  .sectionHome{
    scale: 1.2;
  }

  .logoBon{
    padding: 20%;
  }

  .mainRegistro, .mainLogin{
    scale: 1.1;
  }
  
  .headerRegistro, .headerLogin{
    margin-top: 8%;
  }

  .logoBonPrincipal{
    padding: 10%;
    margin-top: 1%;
  }

  .divMenu{
    margin-top: 18%;
  }

  .mainPrincipal{
    margin-top: 27%;
  }

  .recetaUser {
    margin-top: 1%;
    font-size: medium;
  }

  .textAllPostUsers{
    font-size: medium;
  }

  .post{
    margin-top: 2%;
    padding: 2% 2%;
  }

  .author{
    font-size: medium;
  }

  .titlePost, .ingredients, .preparation{
    margin-top: 3%;
    font-size: medium;
  }

}

/* large tablets & laptop styles */
@media screen and (min-width: 960px){
  .headerHome{
    margin-top: 7%;
  }

  .sectionHome{
    scale: 1.3;
  }

  .headerRegistro, .headerLogin{
    margin-top: 6%;
  }

  .logoBon{
    padding: 15%;
  }

  .mainRegistro, .mainLogin{
    scale: 1.2;
  }

  .logoBonPrincipal{
    padding: 8%;
    margin-top: 2%;
  }

  .divMenu{
    margin-top: 16%;
  }

  .mainPrincipal{
    margin-top: 23%;
  }
  
}

/* desktop styles */
@media screen and (min-width: 1200px){
  .logoBonHome{
    padding: 10%;
  }
  .headerHome{
    margin-top: 5%;
  }

  .sectionHome{
    margin-top: 3%;
  }

  .logoBon{
    padding: 10%;
  }

  .headerRegistro, .headerLogin{
    margin-top: 3%;
  }

  .logoBonPrincipal{
    padding: 6%;
    margin-top: 1%;
  }

  .divMenu{
    margin-top: 12%;
  }

  .mainPrincipal{
    margin-top: 18%;
  }

  .textAllPostUsers, .author, .recetaUser{
    font-size: large;
  }

  .titlePost, .ingredients, .preparation{
    margin-top: 2%;
    font-size: larger;
  }

}
  
