*{
  margin: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
}
body{
  background-color: #F4EBE2;
}
.contenedor{
  display: flex;
  background-image: url('../imagenes/logo_home.png');
  background-repeat: no-repeat;
  background-position: top center;
  height: 700px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 160px;
  height: 40px;
  padding: 5px;
  font-weight: bold;
  border-radius: 40px;
  border: 2px solid #EFBA73;
  background: #EFBA73 ;
  text-align: center;
}

.boton_Inicio {
  margin-top: 400px;
  margin-bottom: 40px;

}

h2 {
  margin: 5px;
}

footer {
  text-align: center;
}
