*{
  margin: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
}
body{
  background-color: #F4EBE2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

button {
  width: 160px;
  height: 40px;
  padding: 5px;
  font-weight: bold;
  border-radius: 40px;
  border: 2px solid #EFBA73;
  background: #EFBA73 ;
  text-align: center;
  cursor: pointer;
}

.logo {
  background-image: url('../imagenes/logo_home.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: top;
  width: 400px;
  padding-top: 25%;
  margin-bottom: 50px;
}

.boton_Inicio {
  margin-bottom: 10px;
}

h2 {
  margin: 5px;
}

footer {
  margin-top: 30px;
  text-align: center;
}