*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
}
:root{
  --primary: #F4EBE2;
  --secondary: #EFBA73;
  --sloganColor: #e8c8bb;
  --recetarioColor: #F7D7AD; 
}

body{
  background-color: var(--primary);
}

.mainRegistro, .mainLogin{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  position:relative;
  width: 100%;
  margin: auto;
}

.sectionHome {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  position: relative;
}

.headerHome, .headerLogin {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.headerRegistro{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.formRegistro, .formLogin, .formPost {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  position: relative;
}

.formPostUser {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  margin-top: 1%;
}

.logoBonHome {
  background-image: url('../imagenes/logoHome.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: top;
  padding: 30%;
}

.logoBon {
  background-image: url('../imagenes/logoBon.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: top;
  padding: 30%;
}

.button {
  width: 250px;
  height: 40px;
  font-weight: bold;
  border-radius: 40px;
  border: 2px solid var(--secondary);
  background: var(--secondary) ;
  text-align: center;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.6);
  margin: 1em;
  cursor: pointer;
}

.input {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  font-size:large;
  text-align: center;
  margin: 0.5em;
  border: 1px solid;
}

.buttonGoogle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  border: whitesmoke;
}

.imgGoogle {
  background-image: url('../imagenes/googleLogo.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: top;
  padding: 1.5em;
  scale: 0.7;
   }

.parrafo {
  font-weight: bold;
}

#errorRegister {
  margin: 0.5em;
  color:red;
}

.divPrincipal {
  display: flex;
  width: 100%;
}

.headerPrincipal {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  position: fixed; /* se mantiene por encima de todo y fijo*/
  top: 0%; /* se mantiene arriba */
  background-color: var(--primary);
}

.logoBonPrincipal{
  background-image: url('../imagenes/logoBon.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 3%;
  padding: 13%; 
}

.sloganBon {
  width: 190px;
  background-color: var(--sloganColor);
   margin-left: 5%; 
}

.nameUser {
  align-items:center;
  margin: 10% 10%;
  font-weight: bold;
}

.mainPrincipal, .mainEditar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  margin-top: 41%;
  padding:0 8%;
}


.textAllPostUsers, .textTituleUser, .misPublicaciones {
  margin-top: 3%;
  font-size: smaller;
  font-weight: bold;
}

.sectionAllPostUsers{
  justify-content: center;
}

.recetaUser {
  height: 3em;
  width: 99%;
  text-align:center;
  cursor: pointer;
  border-radius: 1em;
  border: 2px solid var(--sloganColor);
  font-size: smaller;
}


.menuNav{
  width: 100%;
   position: fixed; /* se mantiene por encima de todo y fijo*/
  top: 0%; /* se mantiene arriba */
}

.divMenu{
  background-color: var(--recetarioColor);
  display: flex;
  justify-content: space-evenly;
  margin-top: 25%;
  padding: 0.5%;
  
}

.sectionHomeIcon, .sectionRecetaIcon, .sectionSingOutIcon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.homeText, .misRecetasText, .singOutText{
  font-size: smaller;
}

footer {
  margin-top: 6%;
  text-align: center;
}

.show-password {
  color: #000;
  margin-top: 5px;
}

.show-password input {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #000;
  transition: 0.2s all linear;
  position: relative;
  top: 5px;
  left: -5px;
}

.show-password input:checked {
  border: 8px solid var(--secondary);
}

.post{
  margin-top: 10%;
  border-radius: 1em;
  border: 2px solid var(--sloganColor);
  padding: 2% 4%;
  background-color: #f3efee;
}

.articlePostUsers{
  margin-top: 2%;
}

.author{
  font-size: smaller;
}

.titlePost, .ingredients, .preparation{
  margin-top: 4%;
  font-size: smaller;
}

.sectionRecetaTitle {
  margin:1em;
  font-weight: bold;
  font-size: smaller;
}

.escritosfijos{
  font-weight: bold;
  padding: 1em;
  font-size: smaller;
}

.recetaTitle{
  width: 100%;
  height: 50%; 
  text-align:center;
  border-radius: 1em;
  border: 2px solid var(--sloganColor);
  font-size: smaller;
}

.ingredientesUser {
  width: 100%;
  height: 150px;
  text-align:center;
  border-radius: 1em;
  border: 2px solid var(--sloganColor);
  font-size: smaller;
}

.preparacionUser {
  width: 100%;
  height: 200px;
  text-align:center;
  cursor: pointer;
  border-radius: 1em;
  border: 2px solid var(--sloganColor);
  font-size: smaller;
}

/*MODAL*/
.modal, .editBox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.sectionModal {
  margin: auto;
  display: grid;
  place-items: center;
  background-color: var(--primary);
  margin-top: 25%;
  height: 15em;
  width: 20em;
}

.sectionBoxContent{
  margin: auto;
  display: grid;
  place-items: center;
  background-color: var(--primary);
  margin-top: 25%;
  height: auto;
  width: 90%;
}

.editForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.modalTitleEdit{
  margin-top: 2%;
}

.editTitle {
  height: 2em;
  width: 16em;
  margin: 2%;
  text-align: center;
}

.editIngredients {
  height: 8em;
  width: 16em;
  margin: 2%;
}

.editPreparation {
  height: 10em;
  width: 16em;
  margin: 2%;
}


.modalConfirmation, .modalCancelbtn, .confirmEdit, .cancelEdit, .btnDeletePost, .btnEditPost, .btn-post{
  width: 100px;
  height: 30px;
  font-weight: bold;
  border-radius: 40px;
  border: 2px solid var(--secondary);
  background: var(--secondary) ;
  text-align: center;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.6);
  margin: 1em;
  cursor: pointer;
}

.btnDeletePost, .btnEditPost, .reactionButton{
  width: 70px;
  height: 20px;
  font-size: small;
  font-weight: bold;
  border-radius: 30px;
  border: 1px solid var(--secondary);
  background: var(--secondary) ;
  text-align: center;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.6);
  
  cursor: pointer;
}

.footerEndPost{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


/* small tablet styles */
@media screen and (min-width: 620px){
  .logoBonHome{
    padding: 18%;
  }

  .sectionHome{
    scale: 1.1;
  }

  .logoBon{
    padding: 18%;
  }

  .mainRegistro, .mainLogin{
    scale: 1.05;
  }
  
  .headerRegistro, .headerLogin{
    margin-top: 8%;
  }

  .logoBonPrincipal{
    padding: 10%;
    margin-top: 1%;
  }

  .divMenu{
    margin-top: 18%;
  }

  .mainPrincipal {
    margin-top: 27%;
  }

  .mainEditar{
    scale: 1.05;
    margin-top: 30%;
  }
  .recetaUser {
    margin-top: 1%;
    font-size: medium;
  }

  .textAllPostUsers, .textTituleUser, .misPublicaciones, .homeText, .misRecetasText, .singOutText, .escritosfijos, .recetaTitle, .ingredientesUser, .preparacionUser{
    font-size: medium;
  }

  .post{
    margin-top: 2%;
    padding: 2% 2%;
  }

  .author{
    font-size: medium;
  }

  .titlePost, .ingredients, .preparation{
    margin-top: 3%;
    font-size: medium;
  }

  .btnDeletePost, .btnEditPost, .reactionButton{
    width: 100px;
    height: 30px;
    border-radius: 40px;
    border: 2px solid var(--secondary); 
    box-shadow: 1px 2px 4px rgba(0,0,0,0.6);
    margin: 1em;
  }

  .editTitle {
    height: 2cap;
    width: 24em;
  }
  
  .editIngredients {
    height: 8em;
    width: 24em;
  }
  
  .editPreparation {
    height: 12em;
    width: 24em;
  }

}

/* large tablets & laptop styles */
@media screen and (min-width: 960px){
  .headerHome{
    margin-top: 7%;
  }

  .logoBonHome{
    padding: 16%;
  }

  .headerRegistro, .headerLogin{
    margin-top: 6%;
  }

  .logoBon{
    padding: 15%;
  }

  .mainRegistro, .mainLogin{
    scale: 1.2;
  }

  .logoBonPrincipal{
    padding: 8%;
    margin-top: 2%;
  }

  .divMenu{
    margin-top: 16%;
  }

  .mainPrincipal {
    margin-top: 23%;
  }

  .mainEditar{
    scale: 1.1;
    margin-top: 25%;
  }

  .sectionBoxContent{
    margin-top: 12%;
  }

  .sectionModal {
    height: 20em;
    width: 30em;
    margin-top: 10%;
  
  }

  .recetaTitle{
    width: 30em;
  }

}

/* desktop styles */
@media screen and (min-width: 1200px){
  .logoBonHome{
    padding: 10%;
  }
  .headerHome{
    margin-top: 5%;
  }

  .sectionHome{
    margin-top: 3%;
  }

  .logoBon{
    padding: 10%;
  }

  .headerRegistro, .headerLogin{
    margin-top: 3%;
  }

  .logoBonPrincipal{
    padding: 6%;
    margin-top: 1%;
  }

  .divMenu{
    margin-top: 12%;
  }

  .mainPrincipal {
    margin-top: 18%;
  }

  .mainEditar{
    margin-top: 18%;
  }

  .textAllPostUsers, .author, .recetaUser{
      font-size:larger;
  }
  .textAllPostUsers, .textTituleUser, .misPublicaciones, .homeText, .misRecetasText, .singOutText, .escritosfijo, .recetaTitle, .ingredientesUser, .preparacionUser{
    font-size: larger;
  }

  .titlePost, .ingredients, .preparation{
    margin-top: 2%;
    font-size: larger;
  }
  .btnDeletePost, .btnEditPost, .reactionButton{
    width: 150px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid var(--secondary); 
    box-shadow: 1px 2px 4px rgba(0,0,0,0.6);
    margin: 1em;
    font-size: larger;
  }

  .sectionBoxContent{
    margin-top: 8%;
    width: 50%;
  }

  .editTitle {
    height: 2cap;
    width: 28em;
  }
  
  .editIngredients {
    height: 8em;
    width: 28em;
  }
  
  .editPreparation {
    height: 12em;
    width: 28em;
  }


}

