:root {
    --theme-color: white;
    --primary-color: #8DADFA;
    --secundary-color: #CAF5E8;
    --color-text: #0a3748;
    --color-box: #F6F6F6;
    --shadow-nav: #37C2EA;
    --color-error:rgb(228, 65, 214);
    --color-is-Valid:rgb(102, 162, 102) ;
    --color--a: #7ACAE0;
    --color--b: #B25DFF;
}

body{
margin:0 0 0 0;
padding:0 0 0 0;
font-size: large;
font-family: 'Montserrat', sans-serif;
text-decoration-color: var(--theme-color);
background-image: linear-gradient(to bottom, var(--primary-color) 20%, var(--secundary-color) 100%);
height: 100%;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.loginSectionMain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main";
}

.logo {
    grid-area: logo;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 10%;
    padding: 5%;
    max-width: 25vw;
    grid-template-rows: 2;
}

.logoWords {
    grid-area: logoWords;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 10%;
    padding: 5%;
    max-width: 25vw;
}

.description {
    grid-area: description;
    color: var(--color-box);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
    
}

.logo{
    grid-column-start: 1;
    grid-column-end: 2;
    /* grid-row: 1; */
    grid-row: 2;
    padding:1rem;
    max-width: 25vw;
    grid-template-rows:2 ;
    width: 300px;
    margin-bottom: 100px;   
}

.logoWords{
    grid-column-start: 1;
    grid-column-end: 2;
    /* grid-row: 2; */
    grid-row: 2;
    max-width: 25vw;
    width: 300px;
    margin-top: 350px;
}

.description{
    grid-column-start: 1;
    grid-column-end: 3;
    /* grid-row: 3; */
    grid-row: 1;
    color: var(--color-box);
    
}

.loginSection{
    grid-column-start: 2;
    grid-column-end: 3;
    /* grid-row: 1; */
    /* grid-row: 1/3; */
    grid-row: 2/3;
    display: grid;
    grid-template-rows: repeat(6, 0.2fr);
    grid-template-columns: 0.5fr 4fr 0.5fr;
    align-items: stretch;
    gap: 1.5rem;
    background-color: var(--color-box);
    border-radius: 10px;
    margin: 5%;
    padding: 5%;
    max-width: 30vw;
    min-height: 60vh; 
    box-shadow: 1px 1px 1px 1px var(--color-text);
}

.titleLogin{
    
    text-align: center;
    grid-column: 1/4;
    

}

.titleLogin {

    text-align: center;
    grid-column: 1/4;


}

input {
    text-align: center;
    font-size: 1rem;
    height: 2rem;
    
    border-radius: 5px;
    border: 1px solid #39c;
    border-style:outset;
    border-width: 2px;
}

.inputEmail {
    grid-column: 2;
    grid-row: 2;
    border-radius: 4px;

}

.inputPassword {
    grid-column: 2;
    grid-row: 3;
    border-radius: 4px;

}

button {
    min-height: 5.5vh;
    font-size: 1rem;
    border-radius: 4px;
}

.startSession {
    grid-column: 2;
    grid-row: 4;
    /* max-width: fit-content; */
    place-self: center;
    width: 10rem;
    background-color: var(--color--a);
    border: 0;
    color: var(--color-box);
}

/* .buttonSiginGoogle{
    grid-column: 2;
    grid-row: 5;
    max-width: fit-content;
    place-self: center;
} */

.buttonSiginGoogle{
    grid-column: 2;
    grid-row: 5;
    max-width: fit-content;
    place-self: center;
    width: 30px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px var(--color-text);
}

.paragraph{
    grid-row: 6;
    grid-column: 2/3;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    text-align: center;
}



.createAccount{
    grid-column: 2;
    grid-row: 7;
    width: 10rem;
    /* max-width: fit-content; */
    place-self: center;
    background-color: var(--color--a);
    border: 0;
    color: var(--color-box);
    
}

.titleLogin {
    text-align: center;
    grid-row: 1/2;


}

