:root{
    --theme-color:white;
    --primary-color:#2081A5 ;
    --secundary-color: #B325FF;
    --color-text:#0a3748;
    --color-box:#D9D9D9;
    --shadow-nav:#37C2EA ;
}

*{
margin:0 0 0 0;
padding:0 0 0 0;
font-size: large;
font-family: 'Montserrat', sans-serif;
}

loginSection{
background-color:var(--primary-color);


}
titleLogin{

}