:root {
    --theme-color: rgb(255, 255, 255);
    --primary-color: #8DADFA;
    --secundary-color: #CAF5E8;
    --color-text: #0a3748;
    --color-box: #f6f6f6;
    --shadow-nav: #37C2EA;
    --color-error: rgb(228, 65, 214);
    --color-is-Valid: #37c2ea;
    --color--a: #7ACAE0;
    --color--b: #B25DFF;
}

.newPostSection {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    background-color: var(--color-box);
    border-radius: 9px;
    padding: 40px;
    margin-top: 1rem;
}

.titlenewPost {
    grid-area: 1/1/2/5;
    grid-template-columns: subgrid;
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;

}

.imgUserProfile {
    grid-area: 2/2/2/2;
    justify-self: end;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: black;
}

.nameNewPost {
    font-size: larger;
    grid-area: 2/3/4/5
}

.newPostText {
    grid-area: 3/2/5/5;
    border-radius: 10px;
}

.share {
    grid-area: 5/2/5/3;
    align-items: center;
    width: 100%;
    background: var(--primary-color);
    color: var(--color-text);
    font-weight: bold;
}

.share:hover{
    box-shadow: 3px 0px 30px var(--shadow-nav);
}

.noShare {
    grid-area: 5/4/5/5;
    align-items: center;
    width: 100%;
    background: var(--primary-color);
    color: var(--color-text);
    font-weight: bold;
}
.noShare:hover{
    box-shadow: 3px 0px 30px var(--shadow-nav);
}