
:root {
    --theme-color: white;
    --primary-color: #8DADFA;
    --secundary-color: #CAF5E8;
    --color-text: #0a3748;
    --color-box: #F6F6F6;
    --shadow-nav: #37C2EA;
    --color-error: rgb(228, 65, 214);
    /* --color-is-Valid: rgb(102, 162, 102); */
    --color-is-Valid: #37c2ea ;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to bottom, var(--primary-color) 20%, var(--secundary-color) 100%);
    max-width: 900px;
    max-height: 900px;
    width: 90%;
    margin: 1rem auto;
   
}

.divLogoRegistro{
    place-items: center;
}

.imagenGuideMaPa{
    width: 20rem;
}


.registerSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: var(--color-box);
    border-radius: 9px;
    padding: 40px;
}
.elementRegister-title{
    grid-column: span 2;
    justify-self: center;
    align-self: center;
    color: var(--color-text);
}

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    color: var(--color-text);
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    background-color: var(--theme-color);
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;

}

.formulario__input:focus {
    border: 3px solid var(--color-is-Valid);
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}
.formulario__input-error-activo {
    display: block;
}
.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

/*----------------estilos para validación-------------*/
.formulario__grupo-correcto .formulario__validacion-estado {
    color: var(--color-is-Valid);
    opacity: 1;
}
.formulario__grupo-incorrecto .formulario__label {
    color: var(--color-error);
}
.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: var(--color-error);
    opacity: 1;
}

.inputRegister{
    color: var(--color-text);
    grid-column:1/2;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid var(--color-error);
    animation: justshake 0.3s forwards;
    color:var(--color-error);
}

@keyframes justshake {
    25% {
        transform: translateX(5px);

    }

    50% {
        transform: translateX(-5px);
    }

    75% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX-(5px);
    }
}
.form-message,
 .formulario__grupo-btn-enviar{
    grid-column: span 2;
 }

.form-message{
    display: inline-flexbox;
    height: 30px;
    background: var(--color-error);
    padding: 5px;
    border-radius: 3px;
    display: none;
}
.form-message-activo{
    display: block;
};
.form-message p {
 margin: 0;
}
.formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario__btn{
    width: 30%;
    background: var(--primary-color);
    color: var(--color-text);
    font-weight: bold;
}

.buttonHome{
    grid-row: 1;
    grid-column: span 2;
    justify-self: end;
    width: fit-content;
}
.buttonHome:hover{
    box-shadow: 3px 0px 30px var(--shadow-nav);
}


.formulario__btn:hover{
    box-shadow: 3px 0px 30px var(--shadow-nav);
}
.formulario__mensaje-exito{
    color: var(--color-is-Valid) ;
    display: none;
}
.formulario__mensaje-exito-activo{
    display: block;
}

/*------ mediaqueries--------*/
@media screen and (max-width: 800px) {

    .registerSection {
        grid-template-columns: auto;
        justify-items: center;
        width: 100%;
    }
    .form-message,
    .formulario__grupo-btn-enviar{
       grid-column: 1;
       width: 80%;
    }
    .elementRegister-title {
        grid-column: span 1;
        text-align: center;
    }
    .formulario__btn{
        width: 100%;
    }

    .buttonHome{
        grid-column: span 1;
    }
    
 
}