.timelineSection {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    
}

.header {
    display: grid;
    grid-area: 1/1/2/7;
    grid-template-columns: subgrid;
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
}

.titletimeline{
    grid-area: 1/1/2/3;
    justify-self: center;
}

.sidebar {
    grid-area: 1/6/2/7;
    justify-self: center;
}

.buttonLogOut {
    width: 2rem;
    filter: invert(100%) sepia(48%) saturate(12%) hue-rotate(249deg) brightness(114%) contrast(93%);
}

.buttonLogOut:hover{
    box-shadow: 3px 0px 30px var(--shadow-nav);
}

.main {
    display: grid;
    grid-area: 2/1/8/8;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto auto;
    width: 100%;
    grid-gap: 0.3rem;
    background-color: #F5F5F5;
    border-radius: 9px;
    padding: 40px;
    margin: 0.5rem auto;
}

.sectionInput {
    display:grid;
    grid-area: 1/1/2/6;
    grid-template-columns: subgrid;
    justify-items:stretch;
    align-items: center;
}
.porfileImage{
    grid-row: 1;
    grid-column: 1/3;
    justify-self: center;
    width: 3rem;
}

.welcomeText{
    grid-row: 1;
    grid-column: 3;
    font-size:larger;
    align-self: center;
    justify-self: start;
    font-weight: bold;
}
.inputNewPost{
    grid-row: 1;
    grid-column: 4/6;
}

.buttonCreatePost {
    grid-row: 1;
    grid-column: 6;
    width: 100%;
    background: var(--primary-color);
    color: var(--color-text);
    font-weight: bold;
}

.buttonCreatePost:hover{
    box-shadow: 3px 0px 30px var(--shadow-nav);
}

.sectionPost {
    display: grid;
    grid-area: 2/1/6/6;
    align-items: center;
    justify-items: center;

}
.post{
    display: grid;
    grid-template-columns: 80px 1fr 40px 40px;
    grid-template-rows: auto auto ;
    width: 100%;
    grid-gap: 0.3rem;
    background-color: #FFFDFD;
    border-radius: 9px;
    padding: 0.3rem;
    margin: 0.5rem;
    box-shadow: 0px 4px 4px rgba(163, 163, 163, 0.4);
    align-items: center;
    justify-items: center;

}
.postImgPorfile{
    grid-column: 1;
    grid-row: 1;
    width: 1.5rem;
    filter: invert(68%) sepia(6%) saturate(3579%) hue-rotate(188deg) brightness(100%) contrast(97%);
}
.postUserName{
    grid-column: 2/3;
    grid-row: 1;
    font-weight: bold;
    justify-self: start;
}
.postText{
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: stretch;
    justify-self: stretch;
}
.buttonEdit{
    grid-column: 3/4;
    grid-row: 1;
    width: 1.5rem;
    filter: invert(68%) sepia(6%) saturate(3579%) hue-rotate(188deg) brightness(100%) contrast(97%);
}
.buttonDelete{
    grid-column: 4/5;
    grid-row: 1;
    width: 1.3rem;
    filter: invert(68%) sepia(6%) saturate(3579%) hue-rotate(188deg) brightness(100%) contrast(97%);
}

.modal{
    background-color: #FFFDFD;
    border-radius: 9px;
    padding: 0.3rem;
    margin: 0.5rem;
    justify-items:stretch;
    align-items: center;
}

.tituloModal{
    grid-area: 1/1/2/5;
    grid-template-columns: subgrid;
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
}


.buttonCancelPost {
    grid-area: 5/4/5/5;
    align-items: center;
    width: 100%;
    background: var(--primary-color);
    color: var(--color-text);
    font-weight: bold;
}
.buttonCancelPost:hover{
    box-shadow: 3px 0px 30px var(--shadow-nav);
}

.buttonUpdate {
    grid-area: 5/2/5/3;
    align-items: center;
    width: 100%;
    background: var(--primary-color);
    color: var(--color-text);
    font-weight: bold;
}

.buttonUpdate:hover{
    box-shadow: 3px 0px 30px var(--shadow-nav);
}