.title{
    color: blueviolet;
    object-position: center;
}
.bottom-menu{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: .5rem;
    padding: 0.5em 0;
}
.button-container {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
}
.button-container button {
    margin-bottom: 0.5em;
}