@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(88,76,106);
    background: linear-gradient(0deg, rgba(88,76,106,1) 0%, rgba(47,44,33,1) 49%);
    font-family: "Poppins", sans-serif;
}
/*-------------------------Contenedor Principal---------------------------*/
#root {
    background: rgb(88,76,106);
    background: linear-gradient(0deg, rgba(88,76,106,1) 0%, rgba(47,44,33,1) 49%);
    margin: auto;
    width: 90%;
    max-width: 1600px;
    overflow: hidden;
    height: 100vh; /* Ajusta la altura del contenedor principal, en este caso, ocupa toda la altura visible del viewport */
    display: grid;
    grid-template-rows: 1fr; /* Una fila con altura flexible */
    justify-items: center; /* Centra los elementos horizontalmente en el contenedor */
    align-items: center; /* Centra los elementos verticalmente en el contenedor */
}
/*-------------------------Contenedor Formulario---------------------------*/
.container {
    background-color: #000;
    width: 90%;
    height: 700px; /* Ajusta la altura del contenedor .container según tus necesidades */
    border-radius: 20px;
    display: grid;
    gap: 10px; /* Espacio entre las columnas */
    grid-template-columns: 50% 50%;
    justify-items: center; /* Centra los elementos horizontalmente en el contenedor */
    align-items: center; /* Centra los elementos verticalmente en el contenedor */
}
.logo-content{
    display: grid;
}
.img-logo{
    width: 450px;
}
.form-registro{
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    width: 75%;
    height: 600px;
    border-radius: 20px;
    display: grid;
    gap:8px;
    justify-items: center; /* Centra los elementos horizontalmente en .content-form */
    align-items: center; /* Centra los elementos verticalmente en .content-form */
    padding: 25px 30px;
}
.title{
    color: #FBD3E9;
    color: -webkit-linear-gradient(to right, #BB377D, #FBD3E9);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #BB377D, #FBD3E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 32px;
    margin: 10px;
}
.textRegreso{
    color: #fff;
    font-size: 16px;
    margin: 5px;
}
.mensajeRegreso{
    color:#BB377D;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
}
.passRepit{
    color: #fff;
    font-size: 18px;
}
.input-iconos{
    width: 95%;
    display: grid;
    grid-template-columns: auto 1fr; /* Define dos columnas: una para el ícono (automático) y otra para el input (1fr ocupa el espacio restante) */
    align-items: center; /* Centrar verticalmente los elementos */
}
.estilos-icono{
    background-color:#232526;;
    width: 55px;
    height:55px;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    color: #FBD3E9;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #BB377D, #FBD3E9);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #BB377D, #FBD3E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.estilos-input{
    width: 100%;
    height:55px;
    color: #f5f5f5;
    border: none;
    background: rgba(233, 231, 231, 0.1);
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
}
.estilos-input:focus{
    outline: none;
    border: 2px solid rgba(233, 170, 208, 0.247);
}

.btnRegistro{
    width: 80%;
    height: 50px;
    margin: 10px;
    font-size: 20px;
    color: #f5f5f5;
    font-weight: bolder;
    background-color: #e2a9c9;
    border: none;
    border-radius: 20px;
}
.btnRegistro:hover{ 
    cursor: pointer;
    background:  #BB377D;
    box-shadow: 0px 4px 35px -5px  #BB377D;
}
.btnGoogle{
    width: 80%;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    color: #f5f5f5;
    font-weight: bolder;
    background-color: #e2a9c9;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.btnGoogle img{
    margin:10px;
}
.btnGoogle:hover{
    cursor: pointer;
    background: #54cbe0;
    box-shadow: 0px 4px 35px -5px #54cbe0;
    cursor: pointer;

}

/*----------------- Responsive design ------------------------*/

@media (max-width: 768px) {
    .img-logo {
        content: url('img/logo-feed.png');
        width: 250px;
        height: 70px;
    }
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 0;
        justify-items: center;
        align-items: center;
    }
    .form-registro{
        width: 90%;
    }
}
  
  


  
  


