@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400&display=swap');

body {
    background: linear-gradient(196deg, rgb(245, 200, 213) 0%, rgb(245, 200, 213) 0%, rgb(245, 200, 213) 0%, rgb(201, 194, 250) 100%, rgb(243, 113, 194) 100%);
    background-repeat: no-repeat;
    background-size: 1750px 1750px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}
img {
    width: 15rem;
    margin: 2rem auto;
}
h2{
    font-family:  'Borel', cursive;
    font-size: 45px;
    color: purple;
    margin-top: -1rem;
}

.bienvenida h4{
    margin-top: -4rem;
    color: rgb(72, 177, 211);
}

.bienvenida p {
    background-color: #fbc0cc;
    max-width: 300px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 3rem auto;
    font-family:'Montserrat Alternates', sans-serif;
    color: purple;
}

 button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 130px;
    background-color: rgb(255, 240, 242);
    font-family: 'Montserrat Alternates', sans-serif;
}
button:focus {
    background-color: aliceblue;
}

.botones-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.inicio-sesion {
    margin-top: -1rem;
    font-size: 35px;
}

input {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 2px 3px 2px rgba(128, 128, 128, 0.667) inset;
    background-color: antiquewhite;
    margin: 10px auto;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1rem;
}

input:hover {
    background:  rgb(232, 217, 190);
    border: rgb(152, 83, 221);
}
.botones-inicio-sesion {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

select {
    width: 100px;
    border: 1px solid #ccc;
    border: none;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 2px 3px 2px rgba(128, 128, 128, 0.667) inset;
    background-color: rgb(255, 240, 242);
  }
/*Muro*/
.logo-muro{
    padding: 1rem;
    width: 7rem;
    margin: auto;
}
.publicacion {
    background: #f2edee7b;
    display: grid;
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 2rem;
}
textarea {
    margin: 0rem 0rem 1rem 0rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: medium;
    color: #7d3f71;
    border-radius: 1rem;
    height: 30px;
    resize: none;
    border: none;
    padding: 7px;
    text-align: left;
    text-decoration: dotted;
    box-shadow: inset 2px 2px 4px rgba(128, 128, 128, 0.826);
    background-color: rgb(255, 255, 255);
    transition: 50ms;
}
textarea:focus,
textarea:active {
    transition: 50ms;
    border: none;
    outline: inset rgba(162, 102, 165, 0.764);
    height: 70px;
    background-color: rgb(255, 255, 255);
  }

.boton-compartir{
    align-content: center;
    margin: 0rem 0rem 0rem 12rem;
}
.logOut-button{
    display: block;
    text-align: center;
}
